.card{
    background-color: #EFEFEF;
    border: 1px;
    border-radius: 20px;
    padding-right:2vw;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-shadow:  0px 5px 5px 5px rgb(110, 110, 110);
    transition-duration: 1s;
}
.card:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}
.card-header{
    display:flex;
    align-items: center;
}
.card-header h2{
    /* margin: 0; */
    margin-left: 10px;
    
    justify-items: center;
    /* padding-left: 10px; */
}
.card-body h1{
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
.svg_icon{
    transform: scale(1.8);
}