.bg-grey{
    background-color: #FFFFFF;
}
.text-center{
    text-align: center;
}
.margin_15{
    margin:15px;
}
.font-large{
    font-size:5vh; 
}
@media(max-width:768px){
    .font-large{
        font-size: 10vh !important;
    }
}