/* For WebKit (Chrome, Safari, and newer versions of Edge) */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
    background-color: transparent; /* Change to your desired color */
    border-radius: 5px; /* Optional: Rounded corners */
}

