
.formProperties{
    width: 20%;
    margin: auto;
    min-width: 300px;
    padding: 50px;
    margin-top: 50px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
} 

.margibBottom{
    margin-bottom: 10px;
}

.buttonCentering{
    text-align: center;

}

.orLabelProperties{
    opacity: 50%;
    font-size:x-large;
}

/* .temp{
    background-color: aqua;
} */