.iconTransform{
    transform: scale(2) !important;
    width: 50px;
    height: 100px;
}
.bg_grey{
    background-color: #232329;
}
.rounded_border{
    border-radius: 20px;
}
.p_5{
    padding: 25px;
    /* max-width: 600px; */
}
.zero_margin{
    margin: 0 !important;
}
.font-large{
    font-size:5vh !important; 
}